.playlist-container {
  margin-bottom: 20px;
}

.separator {
  height: 2px;
  background-color: #76a5af;
  margin: 20px 0;
}

.playlist-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.playlist-table td.label {
  font-weight: bold;
  width: 100px;
}

.playlist-table td {
  padding: 8px;
}

.playlist-table h3 {
  margin: 0;
}

.musics-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.musics-table th, .musics-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.musics-table th {
  background-color: #45818e;
  color: white;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.musics-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.musics-table tr:hover {
  background-color: #f1f1f1;
}

.error-message {
  color: red;
  font-style: italic;
  font-size: 0.9em;
}
