<div *ngFor="let playlist of playlists; let i = index" class="playlist-container">
  <div *ngIf="i > 0" class="separator"></div>
  <table class="playlist-table">
    <tr>
      <td class="label">Nome:</td>
      <td><h3>{{ playlist.nome || '-' }}</h3></td>
    </tr>
    <tr>
      <td class="label">Descrição:</td>
      <td>{{ playlist.descricao || '-' }}</td>
    </tr>
  </table>
  <table class="musics-table">
    <thead>
    <tr>
      <th>Título</th>
      <th>Artista</th>
      <th>Álbum</th>
      <th>Ano</th>
      <th>Gênero</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="playlist.musicas && playlist.musicas.length > 0; else noMusicas">
      <tr *ngFor="let musica of playlist.musicas">
        <td>{{ musica.titulo || '-' }}</td>
        <td>{{ musica.artista || '-' }}</td>
        <td>{{ musica.album || '-' }}</td>
        <td>{{ musica.ano || '-' }}</td>
        <td>{{ musica.genero || '-' }}</td>
      </tr>
    </ng-container>
    <ng-template #noMusicas>
      <tr class="error-message">
        <td colspan="5">Nenhuma música encontrada nesta playlist.</td>
      </tr>
    </ng-template>
    </tbody>
  </table>
</div>
