<form [formGroup]="findPlaylistForm" (ngSubmit)="findPlaylist()" class="find-playlist-form">
  <table class="form-table">
    <thead>
    <tr>
      <th>Nome da Playlist</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <label for="listName">Nome da Playlist:</label>
        <input type="text" id="listName" formControlName="listName">
        <div *ngIf="findPlaylistForm.get('listName')?.invalid && findPlaylistForm.get('listName')?.touched">
          <em class="error-message">Nome da Playlist é obrigatório.</em>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <button type="submit" [disabled]="findPlaylistForm.invalid" class="submit-button">Buscar Playlist</button>
</form>

<div *ngIf="notFoundMessage" class="error-message">
  <p>{{ notFoundMessage }}</p>
</div>

<div *ngIf="foundPlaylist" class="found-playlist-container">
  <h3>{{ foundPlaylist.nome || '-' }}</h3>
  <p>{{ foundPlaylist.descricao || '-' }}</p>
  <table class="playlist-table">
    <thead>
    <tr>
      <th>Título</th>
      <th>Artista</th>
      <th>Álbum</th>
      <th>Ano</th>
      <th>Gênero</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="foundPlaylist.musicas && foundPlaylist.musicas.length > 0; else noMusicas">
      <tr *ngFor="let musica of foundPlaylist.musicas">
        <td>{{ musica.titulo || '-' }}</td>
        <td>{{ musica.artista || '-' }}</td>
        <td>{{ musica.album || '-' }}</td>
        <td>{{ musica.ano || '-' }}</td>
        <td>{{ musica.genero || '-' }}</td>
      </tr>
    </ng-container>
    <ng-template #noMusicas>
      <tr class="error-message">
        <td colspan="5">Nenhuma música encontrada nesta playlist.</td>
      </tr>
    </ng-template>
    </tbody>
  </table>
</div>
