.page-title {
  text-align: center;
  font-size: 28px;
  margin: 0;
  background-color: #134f5c;
  padding: 15px;
  font-family: 'Arial', sans-serif;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

ul.nav-menu {
  list-style-type: none;
  padding: 0;
  background-color: #45818e;
  overflow: hidden;
  margin-bottom: 40px;
}

ul.nav-menu li {
  float: left;
}

ul.nav-menu li a {
  display: block;
  color: white;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav-menu li a:hover {
  background-color: #76a5af;
}

.separator {
  background: #76a5af;
}
