.create-playlist-form {
  margin-bottom: 20px;
}

.form-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.form-table, .form-table th, .form-table td {
  border: 1px solid #ddd;
}

.form-table th, .form-table td {
  padding: 10px;
  text-align: left;
}

.form-table th {
  background-color: #45818e;
  color: white;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

input[type="text"], textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.error-message {
  color: red;
  font-style: italic;
  font-size: 0.9em;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-music-button, .remove-music-button, .submit-button {
  padding: 8px 16px;
  background-color: #494949;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.add-music-button:hover, .remove-music-button:hover, .submit-button:hover {
  background-color: #393939;
}


.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.playlist-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.playlist-table th, .playlist-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.playlist-table th {
  background-color: #45818e;
  color: white;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.playlist-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.playlist-table tr:hover {
  background-color: #f1f1f1;
}
