h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

select, button {
  padding: 0.5rem;
  font-size: 1rem;
}

button.delete-button {
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  background-color: #494949;
  color: white;
  border: none;
  cursor: pointer;
}

button.delete-button:hover {
  background-color: #3d3d3d;
}

.playlist-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.playlist-table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
