.delete-playlist-container {
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

select, button {
  padding: 0.5rem;
  font-size: 1rem;
}

button.delete-button {
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  background-color: #494949;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button.delete-button:hover {
  background-color: #3d3d3d;
}

button.delete-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.selected-playlist-container {
  margin-top: 20px;
}

.selected-playlist-container h3 {
  margin: 0;
}

.selected-playlist-container p {
  margin: 0;
}

.playlist-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.playlist-table th, .playlist-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.playlist-table th {
  background-color: #45818e;
  color: white;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.playlist-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.playlist-table tr:hover {
  background-color: #f1f1f1;
}

.error-message {
  color: red;
  font-style: italic;
  font-size: 0.9em;
}
